.user-editor {

  .edit-avatars {
    margin-top: 50px;
  }

  .avatar-select {

    input[type="radio"] {
      display: none;
    }

    img {
      width: 100%;
//      width: 180px;
      opacity: 0.4;
      transition: all 0.2s ease;
      position: relative;
      top: 0;
    }

    img:hover {
      opacity: 1;
      top: -20px;
    }

    :checked + img {
      opacity: 1;
      top: -20px;
    }

  }
}