/*
FRONT: applies only to front module
*/
.container.front {

}


.homepage {
  .text-center();
  .center-block();
  padding-left: 0;
  padding-right: 0;
  float: none;

  h1 {
    margin: 10px -20px 20px -20px;
    text-transform: uppercase;
    font-size: 3.4em;
    font-weight: bold;
    color: @color-prim-2;

    @media (min-width: @screen-sm-min) {
      font-size: 4.5em;
      margin: 50px 0;
    }

  }

  #login-form {
    //  .center-block();
    .text-left();
    margin: 0 -25px;


    @media (min-width: @screen-sm-min) {
      margin: auto;
    }

    #login-button {
      padding: 20px;
      width: 100%;
      margin: 20px 0 0 0;
      font-size: 26px;
      background-color: @color-sec-1;
      background-image: @background-stripes-transparent;
      border-color: @color-sec-1-border;

      &:hover {
        background-color: @color-sec-1-border;
        background-image: @background-stripes-transparent;
      }

    }

    #remember-check {
      margin: 20px 5px;
      font-size: 20px;
      line-height: 20px;
      //      text-align: center;
    }
  }

}

#game-list {
  list-style: none;
  padding: 0;
  margin: 5px 0 20px 0;
  text-align: center;

  @media (min-width: @screen-sm-min) {
    margin: 20px 0 20px 0;
  }


  li {
    display: inline-block;

    a.game-select {
      .btn();
      .btn-default();
      position: relative;
      z-index: 3;
      font-size: 1.8em;
      margin: 10px;
      display: block;
      width: 230px;
      height: 200px;
      transition: all 0.1s ease;

      @media (min-width: @screen-sm-min) {
        width: 300px;
        height: 200px;
      }

      i.fa {
        display: block;
        font-size: 3em;
        line-height: 1.4em;
      }

      &#game-melodic-cubes {
        background-color: #ea5e00;
        color: #fff;
        background-image: @background-stripes-transparent;
      }

      &#game-pexeso {
        background-color: #ea5e00;
        color: #fff;
        background-image: @background-stripes-transparent;
      }

      &#game-note-steps {
        background-color: #ea5e00;
        color: #fff;
        background-image: @background-stripes-transparent;
      }

      &:hover {
        transform: scale(1.05);
      }

    }
  }

  .score-tab {
    position: relative;
    margin: -11px 10px;
    padding-bottom: 30px;
    text-align: center;
    transition: all 0.3s ease;

    @media (min-width: @screen-sm-min) {
      top: -50px;
    }

    &:hover, .touch & {
      transition: all 0.2s ease;

      @media (min-width: @screen-sm-min) {
        top: 0;
      }
    }

    .score-single {
      padding: 10px 0;
      display: inline-block;
      color: #fff;
      font-size: 1.2em;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      cursor: default;

      &.difficulty-1 {
        background-color: @difficulty-easy-background;
      }

      &.difficulty-2 {
        background-color: @difficulty-medium-background;
      }

      &.difficulty-3 {
        background-color: @difficulty-hard-background;
      }

    }
  }

  .rankings-tab {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 1.1em;

    &.difficulty-1 {
      background-color: @difficulty-easy-background;
    }

    &.difficulty-2 {
      background-color: @difficulty-medium-background;
    }

    &.difficulty-3 {
      background-color: @difficulty-hard-background;
    }

    &:hover {
      text-decoration: none;
    }

    i.fa {

    }
  }
}


#front-avatar {

  text-align: right;

  img {
    width: 240px;
  }

}

#page-rating {
  
  h1 {
    margin-bottom: 40px;
  }

  h2 {
    text-align: center;
    margin: 30px 0;
  }
}

.top-three-podium {
  width: 300px;
  margin: 0 auto 30px auto;
  text-align: center;
  font-size: 1.0em;

  @media (min-width: @screen-sm-min) {
    width: 500px;
    font-size: 1.3em;
  }


  .pos-1 {
    top: 9px;

    @media (min-width: @screen-sm-min) {
      top: 16px;
    }

  }

  .pos-2 {
    top: 38px;

    @media (min-width: @screen-sm-min) {
      top: 64px;
    }

  }

  .pos-3 {
    top: 50px;

    @media (min-width: @screen-sm-min) {
      top: 83px;
    }

  }

  .top-user-info {
    margin: 10px -15px;

    @media (min-width: @screen-sm-min) {
      margin: 10px -10px;
    }
  }

  .user-avatar {
    width: 100%;
    position: relative;
  }
}

.podium-image {

  svg {
    width: 100%;
    height: 100%;
  }

  .podium-background{
    fill: darken(@color-ter-1, 10%);
    stroke: #000000;
    stroke-width: 1px;
  }

  .pos-number{
    fill: #fff;
  }

}
