/*
GAME: melodic cubes
*/

.control-buttons {
  margin-bottom: 20px;
}

#btn-play, #btn-play-original, #btn-stop, #btn-eval {
  display: inline-block;
  width: 90px;
  margin: 5px 5px;
  height: 65px;
  font-size: 2em;
  color: #fff;
  border-color: @color-sec-1-border;

  @media (min-width: @screen-sm-min) {
    font-size: 1.6em;
    width: 165px;
    height: 71px;
    margin: auto;
  }
}

#btn-play, #btn-stop {
  background-color: @color-ter-1;

  &:hover {
    background-color: darken(@color-ter-1, 10%);
  }
}

#btn-play-original {
  background-color: @color-prim-2;

  &:hover {
    background-color: darken(@color-prim-2, 10%);
  }

}

#btn-eval {
  background-color: @color-sec-1;

  @media (min-width: @screen-sm-min) {
    width: auto;
    margin-left: 20px;
  }

  &:hover {
    background-color: darken(@color-sec-1, 10%);
  }
}

.btn-lg-x2#btn-stop {
  width: 194px;

  @media (min-width: @screen-sm-min) {
    width: 334px;
  }
}


.single-cube {
  //  background-color: #0000f6;
  padding: 0;
  margin: 0;

  transform: scale(0.90);
  transition: all 0.3s ease-in-out;
  box-shadow: none;

  background-color: gray;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);

  .btn {
    min-width: 100%;
    height: auto;
    display: block;
    padding: 50% 0;
    background-color: #bbb;
    transition: all 0.8s ease-in-out;
    opacity: 0.5;
    border: 1px solid #3D3D3D;

    &:hover {
      transition: all 0.2s ease-in-out;
      opacity: 0.8;
    }
  }

  .active-drag & {
    transition: none;
  }
}
.cube-highlight {

  opacity: 1;
  transform: scale(1);
  z-index: 10;
  box-shadow: 0 10px 35px rgba(0,0,0,0.3);

  .btn {
    transition: all 0.5s ease-in-out;
    background-color: #ff0000 !important;
    opacity: 1;
  }

}


.game-main.pexeso {

  .single-cube {

    //    background: none;

    .btn {
      background: #ff3d31;
    }

  }

  .cube-found {
    opacity: 0.4;

    .btn {
      opacity: 0.1;
    }
  }
}

.game-main.note-steps {
  font-size: 1.8em;
  margin-top: 10px;

  @media (min-width: @screen-sm-min) {
    font-size: 3em;
    margin: 60px 0 0 0;
  }

  .first-letter {
    display: inline-block;
    border: 1px solid #000;
    background-color: #008600;
    color: #fff;
//    color: #fff;
    margin: 0 8px;
    padding: 10px;
    min-width: 60px;
    text-align: center;
    cursor: default;
  }

  .step-input {
    display: inline-block;
    width: 40px;
    text-align: center;
    margin: 10px 6px;
    border: 1px solid #777;
    cursor: pointer;

    /* blinking cursor - caret - workaround */
    color: transparent;
    text-shadow: 0 0 0 #000;

    &:focus {
      outline: @color-ter-1 auto 10px;
      background-color: @color-ter-1;
      text-shadow: 0 0 0 #fff;

      .placeholder-color(#fff);
    }

    &.correct {
      background-color: #008600;
      text-shadow: 0 0 0 #fff;
//      color: #fff;
    }

    &.wrong {
      background-color: @color-prim-1;
      text-shadow: 0 0 0 #fff;
//      color: #fff;
    }
  }

  .symbol {
    cursor: default;
  }

  .symbol-up {

    &:before {
      .fa-inherit();
      content: "\f062";
    }

  }
  .symbol-down {

    &:before {
      .fa-inherit();
      content: "\f063";
    }

  }
}

.game-main.faders {

  .slider-wrap {
    width: 5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding: 0 13px;
    margin: 25px 0;

    .note-slider {
      height: 190px;
      width: 12px;
      margin: 0 auto;
      transition: all 0.2s ease-in-out;

      @media (min-width: @screen-sm-min) {
        height: 350px;
      }

      &.active-play {
        background-color: @color-ter-1;
        transition: all 0.2s ease-in-out;

        .noUi-handle {
          background-color: @color-ter-1;
        }
      }

      &.active-drag {
        background-color: #eec4be;
      }
    }

    .noUi-target, .noUi-background {
      box-shadow: none;
    }

    .noUi-handle {
      height: 50px;
      box-shadow: none;
      background-color: #36B0DB;
      margin: 0 5px;
//      border-radius: 0;

      &:before, &:after {
        width: auto;
        height: auto;
      }

      div {
        font-family: @classic-font-family;
        position: relative;
        text-align: center;
        top: 17%;
        font-size: 1.4em;
        color: #fff;
      }

      &.color-0 { background-color: #d39321 }
      &.color-1 { background-color: #FF8800 }
      &.color-2 { background-color: #0cbd7f }
      &.color-3 { background-color: #6520DB }
      &.color-4 { background-color: #DB20CA }
      &.color-5 { background-color: #0047FF }
      &.color-6 { background-color: #00a558 }
      &.color-7 { background-color: #1a86cf }
      &.color-8 { background-color: #db5718 }
      &.color-9 { background-color: #9da00e }
      &.color-10 { background-color: #8a465e }
      &.color-11 { background-color: #835a10 }
    }

    // pure magic, but that time spent here...
    .note-slider-mixin(@divided-by) {

      @magic-constant: 0.5;
      @base-size: 140px;
      @dot-multiplier: 0.75;

      width: @base-size / ( pow(@divided-by, @magic-constant));

      .noUi-handle {
        width: @base-size / ( pow(@divided-by, @magic-constant));
        left: (@base-size / ( pow(@divided-by, @magic-constant)) * -1) / 2;
      }

      &.dot {
        width: @base-size / ( pow(@divided-by * @dot-multiplier, @magic-constant));

        .noUi-handle {
          width: @base-size / ( pow(@divided-by * @dot-multiplier, @magic-constant));
          left: (@base-size / ( pow(@divided-by * @dot-multiplier, @magic-constant)) * -1) / 2;
        }
      }
    }

    &.length-16 { .note-slider-mixin(16); }
    &.length-8 { .note-slider-mixin(8); }
    &.length-4 { .note-slider-mixin(4); }
    &.length-2 { .note-slider-mixin(2); }
    &.length-1 { .note-slider-mixin(1); }

  }

}

.difficulty-sign {

  color: #fff;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  text-align: center;
  font-size: 25px;
  vertical-align: middle;
  line-height: 25px;
  margin-top: -5px;

  @media (min-width: @screen-sm-min) {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }

  &.difficulty-easy {
    background-color: @difficulty-easy-background;
  }

  &.difficulty-medium {
    background-color: @difficulty-medium-background;
  }

  &.difficulty-hard {
    background-color: @difficulty-hard-background;
  }

}

