/*
GENERAL
*/

body {
  font-family: 'Francois One', sans-serif;
  background-color: @color-light;
}

main {

  margin: 5px 0 0 0;

  @media (min-width: @screen-sm-min) {
    margin: 20px 0 0 0;
  }

  header {
    border: none;
    margin: 0;

    @media (min-width: @screen-sm-min) {
      margin: 22px 0;
    }

  }
}

// page
@font-size-base: 16px;
@font-size-h1: floor((@font-size-base * 2.3));
@font-size-h2: floor((@font-size-base * 1.9));
@font-size-h3: ceil((@font-size-base * 1.5)); //
@font-size-h4: ceil((@font-size-base * 1.25));
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85));
h1, .h1 {

}
h2, .h2 {

}
h3, .h3 {

}
header {
  .page-header();
}

#header-collapsed {
  h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: bold;
  }
}

.navbar-toggle {
  margin: 0;
  padding: 0;
  font-size: 26px;
}

.navbar-collapse {
  border-top: none;
  box-shadow: none;
}

form {
  #button-delete {
    float: left;
  }
  #button-update, #button-save {
    float: right;
  }
  .main-buttons {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .pw-generated {
    background-color: #ffee88;
  }
  .pw-match {
    background-color: #87ff87;
  }
  #password-area {
    margin: 50px 0 0 0;
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    border: none;
    background: none;
    cursor: default;
    border-radius: 0;
    box-shadow: none;
  }
}

.modal-open .modal {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow-y: scroll;
}

.modal-simple {

  .modal-content {
    background-color: @color-sec-1;
    color: #fff;
  }

  .modal-title {
    font-size: 40px;
    text-align: center;
  }
  .modal-header {
    border: none;
    padding: 15px;

    @media (min-width: @screen-sm-min) {
      padding: 30px;

    }

  }
  .modal-footer {
    border: none;
    text-align: center;
    padding-bottom: 30px;
  }
  .btn-close-game {
    background-color: #4A4A4A;
    color: #fff;
  }
  .btn-next-game {
    background-color: @color-ter-1;
    color: #fff;
  }

}

.modal-simple.modal-correct {

  .modal-content {
    background-color: @color-sec-1;
    color: #fff;
  }

  .modal-avatar {
    position: absolute;
    z-index: 2;
    width: 130px;
    top: auto;
    bottom: -15px;
    left: -11px;

    @media (min-width: @screen-sm-min) {
      width: 200px;
      top: -25px;
      bottom: auto;
      left: -90px;
    }

  }

}

.modal-simple.modal-wrong {

  .modal-content {
    background-color: @color-prim-1;
    color: #fff;
  }

  .modal-avatar {
    position: absolute;
    width: 200px;
    top: -65px;
    left: -27px;
    transform: rotate(-30deg);
  }

}

.modal-simple.modal-difficulty {

  .modal-content {
    background-color: @color-ter-1;
    color: #fff;
  }

  .modal-avatar {
    .hidden-xs();
    position: absolute;
    width: 200px;
    top: -25px;
    left: -120px;
    z-index: 2;
  }

  .difficulty-easy {
    background-color: @difficulty-easy-background;
  }

  .difficulty-medium {
    background-color: @difficulty-medium-background;
  }

  .difficulty-hard {
    background-color: @difficulty-hard-background;
  }

  .btn-difficulty {
    color: #fff;
    border-color: #204d74;
    font-size: 26px;
    margin: 5px 0;
    width: 90%;
    transition: all 0.1s ease;
    position: relative;

    &:hover {
      transform: scale(1.1);
      z-index: 1;
    }

    @media (min-width: @screen-sm-min) {
      font-size: 20px;
      margin: 0;
      width: auto;

      &:hover {
        transform: scale(1.2);
        z-index: 1;
      }

    }

  }
}


header#user-bar {
  background-color: @color-prim-2;
  display: block;
  color: #fff;
  padding: 15px;
  margin: 0;
  .clearfix();

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #000;
    }
  }

  #site-head-title {
//    float: left;

    h1 {
      margin: 5px 0;
      text-transform: uppercase;
      font-size: 3em;
      font-weight: bold;
      //      color: @color-prim-2;
    }
  }

  #admin-bar {
    text-align: right;
    margin: 20px 0;
    display: block;

    @media (min-width: @screen-sm-min) {
      margin: auto;
    }

    a {
      text-decoration: none;

      &:hover {
        color: #000;
      }
    }
  }

  #user-profile {
//    float: right;
    font-size: 1.3em;
    margin: 5px 0;

    a#user-logout {
      display: block;
      font-size: 0.9em;
      color: #e8d9cb;
      &:hover {
        color: #fff;
      }
    }

    a#user-profile-edit {
      display: block;
      margin: 10px 0 0 0;
      color: #e8d9cb;
      &:hover {
        color: #fff;
      }
    }

  }
}

#owl-onpage {
  display: block;
  text-indent: -9999px;
  width: 480px;
  height: 280px;
  right: -60px;
  bottom: 0;
  position: absolute;
  background: url('/assets/images/owl.svg') no-repeat; /* via http://www.flaticon.com/free-icon/owl-sage-symbol_42983 */
  background-size: 480px 280px;
  opacity: 0.4;

  @media (min-width: @screen-sm-min) {
    opacity: 1;
  }
}

// display flash messages in bootstrap styles
div.flash {
  .alert();
  .alert-info();
  background-color: @color-ter-1;
  color: #FFFFFF;
  border-color: #FFFFFF;
  font-size: 1.5em;
  margin: 20px;

  &:before {
    .fa-inherit();
    content: "\f129";
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

}
div.flash.success {
  .alert();
  .alert-success();
  background-color: #3c763d;
  border-color: #3c763d;
  color: #EFF5EF;

  &:before {
    .fa-inherit();
    content: "\f058";
  }
}
div.flash.error {
  .alert-danger();

  &:before {
    .fa-inherit();
    content: "\f071";
  }
}
div.flash.warning {
  .alert-warning();

  &:before {
    .fa-inherit();
    content: "\f071";
  }
}

.flash-bubble {
  margin: 20px 0 5px 0;

  .flash {
    margin: 0;
    border-radius: 15px;

    &:before {
      display: none; // remove fa icon
    }
  }

  .flash.success, .flash.warning, .flash.error {
    margin: 0;
    border-radius: 15px;

    &:before {
      display: none; // remove fa icon
    }

  }

  .speech-bubble {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 15px;
    text-align: center;
    padding: 0;
  }

  .speech-bubble .arrow {
    border-style: solid;
    position: absolute;
    right: -17px;
  }

  .bottom {
    width: 0px;
    height: 0px;
    border-color: transparent transparent transparent #fff;
    border-width: 14px 0 14px 34.6px;
    top: 20px;
  }

  .bottom:after {
    border-color: transparent transparent transparent @color-ter-1;
    border-style: solid;
    border-width: 14px 0 14px 34.6px;
    bottom: -15px;
    content: "";
    position: absolute;
    left: -34px;
  }

  .flash.success + .bottom:after {
    border-color: transparent transparent transparent #3c763d;
  }

  .flash.warning + .bottom:after {
    border-color: transparent transparent transparent @alert-warning-bg;
  }

  .flash.error + .bottom:after {
    border-color: transparent transparent transparent @alert-danger-bg;
  }

}

// more flash bubbles
.flash-bubble + .flash-bubble {
  margin-top: 0;
}

.flash-avatar {
  margin: 25px 0 0 0;

  img {
    width: 110px;
  }
//    position: relative;
//    right: 10px;
//    bottom: -160px;
}

