{block content}

<h1 n:block="title">Sluchohry</h1>

{if !$user->loggedIn}
	{control signInForm}
{else}
	<div class="user-info">Currently logged: {$user->identity->realname}. <a n:href="signOut">Logout</a></div>

	<h2>Games</h2>
	<a n:href="Game:melodicCubes">Melodic cubes</a><br />
	<a n:href="Game:pexeso">Pexeso</a>

	<a n:href="Admin:"><h2>Administrator</h2></a>

{/if}