log/*
temp/*
sessions/*
node_modules/*
# nette packages unignored
# vendor/*
# !vendor/others

.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon
.idea/*
@dropbox/*

# Ignore everything in output
@prace/out/*
# Except thesis output
!@prace/out/thesis.pdf
*.mp3
*.bak

@misc/*