{var $backlink = ':Admin:Default:'}

{var $initGrid = true}
{var $initNetteAjax = true}

{block content}
<div class="admin-item-editor">

<header>
<h1 n:block="title">{_admin.stats.title}</h1>
</header>

{if $user->isAllowed($presenter->name, 'games')}<a n:href="games" class="btn btn-primary"><span class="fa fa-pie-chart"></span> Statistika her</a>{/if}

<div class="item-list" id="user-list">
{control scoreGrid}
</div>

</div>
{/block}
