{block content}

<header>
<h1 n:block="title">Administrator</h1>
</header>


<ul id="settings-list">
    <li><a n:href="User:"><i class="fa fa-users"></i> User manager</a></li>
    <li><a n:href="Song:"><i class="fa fa-music"></i> Song editor</a></li>
</ul>

{/block}
