{block content}

<h1 n:block="title">Administrator</h1>

<h2><a n:href="Song:">Song editor</a><br /></h2>
<a n:href="Song:edit">Upload new song</a><br />

<h2><a n:href="User:">User manager</a><br /></h2>
<a n:href="User:edit">Add new user</a><br />

{/block}


