#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	router:
			useHttps: %productionMode%
	song:
		saveDir: %wwwDir%/assets/sounds/songs/
		uploadDir: %appDir%/../uploads/

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Base:Error
	mapping:
		*: App\Module\*\Presenters\*Presenter

session:
	expiration: 1 day

extensions:
    events: Kdyby\Events\DI\EventsExtension
    translation: Kdyby\Translation\DI\TranslationExtension

events:
    debugger: on # off

translation:
    default: cs
    fallback: [cs_CZ, cs]
    whitelist: ['cs', 'en']


services:
	routerFactory: App\RouterFactory(%router.useHttps%)
	router: @routerFactory::create
	authenticator: App\Model\UserAuthenticator

	app.authorizatorFactory: App\Model\AuthorizatorFactory
	app.authorizator: @app.authorizatorFactory::create

	logger:
		class: App\Model\UserListener
		tags: [kdyby.subscriber]

	- App\Model\SongStorage(%song.uploadDir%, %song.saveDir%)
	- App\Model\User
	- App\Model\EventLogger

	- App\Services\UploadHandler
	- App\Services\SongTagHandler
	- \getID3

