#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# http://nette.org/security-warning
#
parameters:
	song:
		saveDir: %wwwDir%/assets/sounds/songs/
		uploadDir: %appDir%/../uploads/

	avatar:
		saveDir: %wwwDir%/assets/images/avatar/

php:
	date.timezone: Europe/Prague

application:
	errorPresenter: Base:Error
	mapping:
		*: App\Module\*\Presenters\*Presenter

session:
	expiration: 14 days
	savePath: %appDir%/../sessions # custom session path to fix php maxlifetime feature in debian-based systems

extensions:
#    presenters: Kdyby\PresentersLocator\DI\PresentersLocatorExtension # not fully working with kdyby\events -> test on ajax requests from game
    events: Kdyby\Events\DI\EventsExtension
    translation: Kdyby\Translation\DI\TranslationExtension

events:
#    globalDispatchFirst: on
    debugger: on # off

translation:
    default: cs
    fallback: [cs_CZ, cs]
    whitelist: [cs, en]

services:
	routerFactory: App\RouterFactory
	router: @routerFactory::create

	authenticator: App\Model\Security\Authenticator
	authorizator: App\Model\Security\Acl

	logger:
		class: App\Model\EventListeners\UserListener
		tags: [kdyby.subscriber]

	userProfileFactory:
		implement: App\Components\IUserProfileFactory

	- App\Model\Avatar(%avatar.saveDir%)
	- App\Model\Event
	- App\Model\Game
	- App\Model\Group
	- App\Model\Score
	- App\Model\Song(%song.uploadDir%, %song.saveDir%)
	- App\Model\User

	- App\Services\UploadHandler
	- App\Services\SongTagHandler
	- \getID3

