{block content}

<h1 n:block="title">Sluchohry</h1>

{if !$user->loggedIn}
<a n:href="Auth:login">Login</a></div>
{else}
	<div class="user-info">Currently logged: {$user->identity->username}. <a n:href="Auth:logout">Logout</a></div>

	<h2>Games</h2>
	<a n:href="Game:melodicCubes">Melodic cubes</a><br />
	<a n:href="Game:pexeso">Pexeso</a>

{if $user->isAllowed('Admin:Default')}
	<a n:href=":Admin:Default:"><h2>Administrator</h2></a>
{/if}

{/if}