{block content}

<h1 n:block="title">{_front.homepage.sluchohry}</h1>

{if !$user->loggedIn}
{control loginForm}
{else}
<div class="user-info">{_front.auth.currentlyLogged} {$user->identity->realname}. <a n:href="logout">{_front.auth.logout}</a></div>

{/if}