{var $initGrid = true}
{var $initNetteAjax = true}

{block content}
<div class="admin-item-editor">

<header>
<h1 n:block="title">Event manager</h1>
</header>

<div class="item-list" id="event-list">
{control grid}
</div>

</div>

{/block}

