notations:
    title: "Editor not"
    octave:
        subcontra: "subkontra"
        contra: "kontra"
        great: "velká"
        small: "malá"
        oneline: "jednočárkovaná"
        twoline: "dvojčárkovaná"
        threeline: "tříčárkovaná"
        fourline: "čtyřčárkovaná"

stats:
    title: "Statistiky"
    realName: "Jméno"
    scoreSum:
        easy: "Součet obtížnost 1"
        medium: "Součet obtížnost 2"
        hard: "Součet obtížnost 3"
    groups: "Skupiny"
    totalPlays: "Počet vyřešených her"

users:
    title: "Uživatelské účty"

groups:
    title: "Skupiny"

events:
    title: "Události"

songs:
    title: "Editor písniček"
