no_item_found_reset: "Nic nenalezeno. Můžete zrušit filtr"
no_item_found: "Nic nenalezeno."
here: "zde"
items: "Položky"
all: "vše"
from: "z"
reset_filter: "Zrušit filtr"
group_actions: "Hromadné akce"
show: "Zobrazit"
add: "Přidat"
edit: "Upravit"
show_all_columns: "Zobrazit všechny sloupce"
show_default_columns: "Zobrazit výchozí sloupce"
hide_column: "Skrýt sloupec"
action: "Akce"
previous: "Předchozí"
next: "Další"
choose: "Vybrat"
choose_input_required: "Hodnota hromadné akce nemůže být prázdná"
execute: "Provést"
save: "Uložit"
cancel: "Zrušit"
multiselect_choose: "Vybrat"
multiselect_selected: "{0} vybráno"
filter_submit_button: "Filtrovat"
show_filter: "Zobrazit filtr"
per_page_submit: "Změnit"
