homepage:
    sluchohry: "Sluchohry"
    homepage: "Hlavní strana"
    admin: "Administrator"

auth:
    currentlyLogged: "Právě přihlášený:"
    login: "Přihlásit se"
    logout: "Odhlásit se"

    loginForm:
        username: "Přihlašovací jméno"
        password: "Heslo"
        requiredUsername: "Zadej prosím svoje přihlašovací jméno."
        requiredPassword: "Nezapomeň zadat heslo."
        remember: "přihlašuji se doma"
        loginButton: "Přihlásit se"
        usernameIncorrect: "Špatné uživatelské jméno. Nemáš v něm někde chybu?"
        passwordIncorrect: "Špatné heslo. Nemáš zaplý Caps lock?"

    flash:
        logout: "Byl jsi odhlášen."
        login: "Ahoj %name%!"
        sessionTimeout: "Vypršel čas přihlášení, přihlaš se prosím znovu."
        accessDenied: "Tady ne! Přístup zamítnut."
        actionForbidden: "Na toto nemáte oprávnění"

game:
    games: "Hry"
    melodicCubes: "Melodické kostky"
    noteSteps: "Krokování not"
    pexeso: "Hudební pexeso"
    faders: "Posuvníky"

    homepageQuote:
        msg1: "Copak si dnes zahrajem?"
        msg2: "Nudím se... jakou sluchohru si zahrajem dnes?"
        msg3: "Víš, že mě můžeš převléknout? Klikni na mě!"
        msg4: "Víš, že sovy mají dobře vyvinutý sluch? Nic nám neunikne!"
        msg5: "Nevím, jak ty, ale já bych si zahrál Pexeso za drsňáky!"
        msg6: "Netopýři prý slyší ještě líp, než já... jeden bydlí v jeskyni kousek ode mne, je to starej hluchota!"
        msg7: "Ani nevím, jak se jmenuji - co třeba Hůůůůgo?"
        msg8: "Jestli používáš sluchátka do uší, dej si pozor na hlasitost – příliš hlasitá hudba otravuje tvůj sluch a tvé okolí. Jo, a taky sovy."
        msg9: "Sova je noční pták, a proto spí ve dne – nechceš si taky schrupnout? Ale předtím si dej Posuvníky za drsňáky!"
        msg10: "Výzva - já dal právě 954 bodů v Krokování za Klasiky. Dáš víc?"
        msg11: "Máš Facebůůk? Přijď za mnou pokecat! Stačí kliknout tady na stránce úplně dole."

    common:
        play: "Hrej"
        playOriginal: "Předloha"
        stop: "Stop"
        evaluate: "Vyhodnoť!"
        resultWrong: "Špatně!"
        resultCorrectTitle: "Správně!"
        nextGame: "Další kolo"
        closeGame: "Ukončit"
        tryAgain: "Zkusit znovu"
        seconds: "sekund"
        scorePoints: "bodů"
        newPersonalRecord: "Tvůj nový rekord!"
        newGameRecord: "Nový rekord pro tuto hru!"
        help: "nápověda"

    difficulty:
        difficultyTitle: "Obtížnost"
        title: "Vyber obtížnost"
        easy: "Pohodář"
        medium: "Klasik"
        hard: "Drsňák"

ratings:
    title: "Tvůj rekord"
    linkTitle: "Klikni pro žebříčky všech nejlepších hráčů"
    name: "Jméno"
    score: "Rekord"
    points: "bodů"

user:
    profile: "Profil"
    profilePersonal: "Tvůj profil"
    username: "Přihlašovací jméno"
    email: "E-mail"
    realname: "Jméno a příjmení"
    role: "Role"
    password: "Heslo"
    passwordVerify: "Heslo (znovu)"
    generatePassword: "Generovat heslo"
    save: "Uložit"

    flash:
        duplicateEmail: "Promiň, e-mail %email% už je registrován někým jiným. Nejsi to ty?"
        duplicateUsername: "Promiň, uživatelské jméno %username% je registrováno někým jiným."
        accessDenied: "Promiň, nemáš oprávnění upravovat uživatele %username%."
        notFound: "Tento uživatel nebyl nalezen."
        successAdd: "%username% byl úspěšně přidán!"
        successEdit: "Nastavení %username% bylo úspěšně uloženo."
        successEditPersonal: "Tvoje nastavení bylo úspěšně uloženo."
        editFail: "Chyba: ukládání %username% neproběhlo správně."
        noChange: "Nastavení %username% uloženo beze změn."
        noChangePersonal: "Tvoje nastavení bylo uloženo beze změn."


melodicCubes:
    stepCount: "tahů"
    hint: "Posunuj kostkami tak, aby jsi dal dohromady původní skladbu. Zvažuj pečlivě každý tah, počítá se přehrávání i posun kostek!"
    hintLong: "Ahůůůůj člověče. Tuto hru budeš možná znát - u vás se jmenuje puzzle. Vidíš před sebou kostky, pod kterými se nachází krátká část melodie. Tvým úkolem je přeskupit kostky tak, aby zazněla melodie ve správném pořadí. Přeskupování se provádí přetažením kostky na své nové místo. Čím těžší verze, tím více kostek. Tak hůůůůůrá do toho!"

    flash:
        noMarkers: "Tahle písnička ještě není připravená :("
        playedAll: "Všechny písničky dohrány! "
        playAgain: "Hrát znovu"

pexeso:
    stepCount: "kliknutí"
    hint: "Najdi kompletní písničku schovanou pod dvěma kostkami a označ je ve správném pořadí."
    hintLong: "Ahůůůůj člověče! Tato hra se jmenuje pexeso a pravidla jsou stejná jako ve vaší člověčí verzi. Musíš najít dvě kostky, které k sobě patří – v naší sluchové verzi se však pod kostkama nenachází obrázky, ale melodie. Z vašeho člověčího rádia jsem nahrál několik melodií, které jsem rozdělil na dvě části. Tvým úkolem je najít tyto části ve správném pořadí. Vyzkoušej si to a uvidíš, že ti to nebude dělat problémy. Jednotlivé úrovně se liší v počtu kostek a různě potrápí tvou hudební paměť. Tak do toho!"
    flash:
        noSongFound: "Budeš se divit, ale zatím nemáme dost písniček pro takovou obtížnost! Zkus to prosím později znovu."

noteSteps:
    stepCount: "špatných pokusů"
    hint: "Krokuj noty mačkáním na písmena na klávesnici podle jejich pořadí v notové osnově."
    hintLong: "Ahůůůůůj člověče. Hudební teorii máme my sovy zmáknutou bravurně, a co ty? Vyzkouším si tě. Před sebou vidíš prázdné rámečky a mezi nimi šipky. Úkol je jednoduchý: do prázdných rámečků s otazníkem musíš napsat správné názvy not. Jediné, co k tomu potřebuješ vědět, je znalost hudební stupnice, která se skládá pouze z osmi písmen. V prvním rámečku máš jednopísmeno napsané. Do dalšího rámečku napíš písmeno, které je od předchozího vzdálené tolik kroků, jako je šipek mezi rámečky. Směr šipek určuje, jestli budeš krokovat nahoru nebo dolů. Je to stejné, jako bych se tě zaptal, jaké písmeno je ve vaší abecedě za písmenem A? Je to B. A nebo jaké písmeno je před písmenem C? Je to zase B. My sovy to máme jednoduché - máme jen dvě písmena. Víš jaká? Hůůůůůů!"

faders:
    stepCount: "tahů"
    hint: "Upravuj posuvníky tónů v melodii a slož ji zpět tak, aby hrála podle předlohy."
    hintLong: "Ahůůůůůj člověče. Nejprve si poslechni originální melodii tlačítkem PŘEDLOHA. Pak je tvým úkolem najít tu správnou melodii posouváním kostek nahoru nebo dolů. Každým přetažením ti příslušný tón přehraju a kdyby tě zajímalo, jak si vedeš, klikni na tlačítko HREJ. Tvou melodii ti zahraji. Jestli se ti něco nelíbí, přesuň kostky na nové pozice a jestli jsi spokojený, klikni na tlačítko VYHODNOŤ. Hůůůůůrá do toho!"

    flash:
        playedAll: "Všechny písničky dohrány! "
        playAgain: "Hrát znovu"
