homepage:
    sluchohry: "Sluchohry"
    homepage: "Hlavní strana"
    admin: "Administrator"

auth:
    currentlyLogged: "Právě přihlášený:"
    login: "Přihlásit se"
    logout: "Odhlásit se"

    loginForm:
        username: "Přihlašovací jméno"
        password: "Heslo"
        requiredUsername: "Zadej prosím svoje přihlašovací jméno."
        requiredPassword: "Nezapomeň zadat heslo."
        remember: "přihlašuji se doma"
        loginButton: "Přihlásit se"
        usernameIncorrect: "Špatné uživatelské jméno. Nemáš v něm někde chybu?"
        passwordIncorrect: "Špatné heslo. Nemáš zaplý Caps lock?"

    flash:
        logout: "Byl jsi odhlášen."
        login: "Ahoj %name%!"
        sessionTimeout: "Vypršel čas přihlášení, přihlaš se prosím znovu."
        accessDenied: "Tady ne! Přístup zamítnut."
        actionForbidden: "Na toto nemáte oprávnění"

game:
    games: "Hry"
    melodicCubes: "Melodické kostky"
    pexeso: "Pexeso"

    common:
        play: "Hrej"
        stop: "Stop"
        evaluate: "Vyhodnoť!"
        resultWrong: "Špatně!"
        resultCorrectTitle: "Správně!"
        nextGame: "Další kolo"
        closeGame: "Ukončit"
        tryAgain: "Zkusit znovu"

user:
    profile: "Profil"
    profilePersonal: "Tvůj profil"
    username: "Přihlašovací jméno"
    email: "E-mail"
    realname: "Jméno a příjmení"
    role: "Role"
    password: "Heslo"
    passwordVerify: "Heslo (znovu)"
    generatePassword: "Generovat heslo"
    save: "Uložit"

melodicCubes:
    stepCount: "pohybů kostek"
    hint: "Posunuj kostkami tak, aby jsi dal dohromady původní skladbu."

    flash:
        noMarkers: "Tahle písnička ještě není připravená :("
        playedAll: "Všechny písničky dohrány! "
        playAgain: "Hrát znovu"

pexeso:
    stepCount: "kliknutí"
    hint: "Najdi kompletní písničku schovanou pod dvěma kostkami a označ je ve správném pořadí."
    flash:
        noSongFound: "Budeš se divit, ale zatím nemáme dost písniček pro pexeso! Zkus to prosím později znovu."