SelectSomeRow: "Vyberte řádek"
Invert: "Obrátit výběr"
Items: "Položky %d - %d z %d"
Previous: "Předchozí"
Next: "Další"
Actions: "Akce"
Search: "Vyhledat"
Reset: "Resetovat"
ItemsPerPage: "Položek na stránku"
Selected: "Vybrané..."
EnterPage: "Vložte stranu:"
NoResults: "Žádné výsledky."
ExportAllItems: "Exportovat všechny položky"