{var $backlink = ':Admin:Users:'}

{var $initGrid = true}
{var $initNetteAjax = true}

{block content}
<div class="admin-item-editor">

<header>
<h1 n:block="title">User scores</h1>
</header>

<div class="item-list" id="user-list">
{control scoreGrid}
</div>

</div>
{/block}
